@import "reset.css";
@import "grid.css";
@import "fonts.css";

:root{
    --first-color: #7AC751;
    --second-color: #E2E2EA;
    --white: #FFFFFF;
    --blue: #00B7F1;
    --red: #FF6868;
    --smoke-color: #F7F8FA;
    --text-first-color: #555555;
    --text-second-color: #C2C2C2;
    --rubik: "Rubik";
    --rubik-Medium: "Rubik Medium";
    --mulish: "Mulish";
    --mulish-semibold: "Mulish SemiBold";
    --mulish-bold: "Mulish Bold";
}
html {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    line-height: 1.4;
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: var(--rubik);
    color: var(--text-first-color);
}

/*

-- Reset Style --

*/

a {
    text-decoration: none;
    color: inherit;
}



/*

-- Component --

*/

/*

-- Helper Class --

*/

/*

-- App Style --

*/
.header{

}

/* top bar */

.top-bar{
    background-color: var(--first-color);
}
.top-bar__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    color: var(--white);
}
.top-bar__title{

}
.top-bar__btns{
    display: flex;
    align-items: center;
}
.top-bar__select-language{

}
.top-bar__login{

}
.top-bar__line{
    height: 2rem;
    width: .3rem;
    border-radius: 2rem;
    background-color: var(--white);
    margin: 0 1.5rem;
}
/* 

    header top 

*/


/* header top */

.header-top{
    margin: 2rem 0;
}
.header-top__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-box{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header__logo{

}
.header__logo-text{
    font-family: var(--rubik-Medium);
    font-size: 2.4rem;
}
.search-bar{
    display: flex;
    align-items: center;
    width: 58rem;
    height: 4.6rem;
    border: 2px solid var(--first-color);
    border-radius: 1rem;
    overflow: hidden;
}
.search-bar__input{
    border: none;
    height: 100%;
    width: 100%;
    font-family: inherit;
    padding-left: 2rem;
    outline: none;
}
.search-bar__input::placeholder{
    color: var(--text-second-color);
}
.search-bar__categories{
    border: none;
    width: 15rem;
    height: 100%;
    font-family: inherit;
    margin-right: 1rem;
    border-left: 1px solid var(--second-color);
    outline: none;
    padding-left: 1rem;
    color: inherit;
}
.search-bar__btn{
    height: 100%;
    width: 7rem;
    background-color: var(--first-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    cursor: pointer;
}
.header-top__btns{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}
.header-top__btn{
    color: inherit;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
}

/* nav bar (desktap) */

.nav-bar{
    background-color: var(--smoke-color);
}
.nav-bar__wrapper{
    height: 6.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-bar__all-collections{
    position: absolute;
    left: 0;top: 0;bottom: 0;
    height: inherit;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: var(--rubik-Medium);
    color: var(--white);
    width: 26rem;
}
.all-collections__icon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-collections__icon .line{
    position: relative;
    width: 1.6rem;
}
.all-collections__icon .line,
.all-collections__icon .line::after,
.all-collections__icon .line::before{
    background-color: var(--white);
    height: .28rem;
    display: block;
    border-radius: 2rem;
}
.all-collections__icon .line::before,
.all-collections__icon .line::after{
    content: ' ';
    position: absolute;
}
.all-collections__icon .line::before{
    transform: translateY(-.7rem);
    width: 2.2rem;
}
.all-collections__icon .line::after{
    transform: translateY(.7rem);
    width: 1rem;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 6rem;
}
.menu__item{

}
.menu__link{
    
}

/* header content */

.header-content{

}
.header-content__wrapper{
    display: flex;
}
.header-content__collections{
    background-color: var(--smoke-color);
    width: 26rem;
}
.collections__item{
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--second-color);
    padding-left: 3rem;
}
.collections__item:last-child{
    border: none;
}
.collections__link{

}
.header-content__banner{
    padding: 1rem 0 0 1rem;
    width: 80.5%;
    margin-left: auto;
}
.banner__wrapper{
    display: flex;
    background-color: #F1FAFF;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.banner__contents{
    padding: 7rem 0 0 4rem;
}
.banner__top-text{
    font-size: 2.2rem;
    color: var(--first-color);
}
.banner__title{
    font-size: 4rem;
    color: #2F2F2F;
    font-family: var(--rubik-Medium);
    line-height: 1.2;
}
.banner__title span{
    position: relative;
}
.banner__title span::after{
    position: absolute;
    content: ' ';
    background: url(../images/shapes/banner-title-shape.svg) no-repeat;
    background-position: center;
    background-size: contain;
    bottom: -.8rem;left: 0;right: 0;
    width: 100%;
    height: 2rem;
}
.banner__caption{
    font-family: var(--mulish-semibold);
    font-size: 2.7rem;
    opacity: .7;
    margin: 2.5rem 0 3rem 0;
}
.banner__btn{
    background-color: var(--first-color);
    width: 13rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--mulish-bold);
    color: var(--white);
    border-radius: 1rem;
}
.banner__image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner__suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    padding-right: 4rem;
}
.banner__suggestions-product{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 11rem;
    gap: .2rem;
    border-radius: 1rem;
}
.suggestions-product__image{
}
.suggestions-product__price{
    font-size: 1.3rem;
    color: var(--first-color);
}
.suggestions-product__name{
    font-size: 1rem;
    font-family: var(--rubik-Medium);
}