@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Rubik Medium';
    src: url(../fonts/Rubik-Medium.ttf) format(truetype);
}
@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Mulish SemiBold';
    src: url(../fonts/Mulish-SemiBold.ttf) format(truetype);
}
@font-face {
    font-family: 'Mulish Bold';
    src: url(../fonts/Mulish-Bold.ttf) format(truetype);
}
@font-face {
    font-family: 'DM sans';
    src: url(../fonts/DMSans_Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'DM sans Medium';
    src: url(../fonts/DMSans_Medium.ttf) format(truetype);
}