@media screen and (max-width: 1400px) {
  .header-content__banner {
    width: 100%;
  }
  .banner__image-wrapper {
    padding: 1rem 0 0 0;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 2rem !important;
  }
  .offer-sec {
    height: 50rem;
  }
}
@media screen and (max-width: 1200px) {
  .header-content {
    height: 39rem;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 1rem !important;
  }
  .offer-sec {
    height: 43rem;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    filter: brightness(1.02);
    background-position: right bottom;
  }
  .blog {
    height: 42rem;
  }
}
@media screen and (max-width: 992px) {
  .header-content {
    height: 29rem;
  }
  .offer-sec {
    height: auto;
    justify-content: center;
    flex-direction: column;
  }
  .offer {
    height: 25rem;
  }
  .offer__back-image {
    width: 100% !important;
    right: 0 !important;
    bottom: -2rem !important;
  }
  .product__image-container {
    height: 23rem;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    filter: brightness(1.01);
    background-position: right bottom;
  }
  .comments-sec__content {
    margin: 5rem 0 0 0;
  }
  .comment {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2rem;
  }
  .blog {
    height: 48rem;
  }
}
@media screen and (max-width: 768px) {
  .header-content {
    height: 22rem;
  }
  .features-sec {
    margin: 4rem 0 1rem 0;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 0.5rem !important;
  }
  .banner__image-wrapper {
    padding: 0;
  }
  .offer {
    height: 20rem;
  }
  .product__image-container {
    height: 25rem;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    filter: brightness(1.03);
    background-position: right bottom;
  }
  .products__menu {
    font-size: 2rem;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  .comments-sec .swiper-button-next,
  .comments-sec .swiper-button-prev {
    display: none;
  }
  .blog {
    height: 42rem;
  }
}
@media screen and (max-width: 576px) {
  .header-content {
    height: auto;
  }
  .offer {
    padding: 2rem 1rem;
    height: 35vw;
    filter: brightness(1.1);
  }
  .trending-sec__menu {
    font-size: 2rem;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  .comments-sec__title {
    font-size: 2.6rem;
  }
  .comment__content {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .blog {
    padding: 3rem 2rem;
  }
  .blog__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .feature__icon {
    width: 4.3rem;
  }
  .feature__title {
    font-size: 1.5rem;
  }
  .feature__caption {
    font-size: 1rem;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 0 !important;
  }
  .offer__back-image {
    top: 0 !important;
    bottom: 0 !important;
  }
  .offer__title {
    font-size: 1.9rem;
  }
  .offer__price {
    font-size: 1.7rem;
  }
  .offer__link {
    font-size: 1.4rem;
  }
  .product__image-container {
    height: 20rem;
  }
  .special-offer__offer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 46rem;
    text-align: center;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    background-position: top;
    background-size: 25rem;
  }
  .special-offer .col-lg-6:first-child .special-offer__offer {
    background-image: url(../images/special-offer-small-1.jpg);
  }
  .special-offer .col-lg-6:last-child .special-offer__offer {
    background-image: url(../images/special-offer-small-2.jpg);
    background-position-y: 3rem;
  }
}
@media screen and (max-width: 470px) {
  .blog {
    height: 37rem;
  }
}
@media screen and (max-width: 450px) {
  .product__image-container {
    height: 33rem;
  }
}
@media screen and (max-width: 400px) {
  .features-sec {
    display: none;
  }
  .offer-sec {
    margin-top: 2rem;
  }
  .offer {
    padding: 1rem 0.5rem;
  }
  .offer__title {
    font-size: 1.7rem;
  }
  .offer__price {
    font-size: 1.4rem;
  }
  .offer__link {
    font-size: 1.2rem;
  }
  .blog {
    height: 33rem;
  }
  .blog__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 350px) {
  .product__image-container {
    height: 27rem;
  }
  .special-offer__offer-name {
    font-size: 2rem;
  }
}
