@media screen and (max-width: 1400px) {
    .nav-bar__wrapper{
        justify-content: space-between;
    }
    .nav-bar__all-collections{
        position: relative;
    }
    .header-content__banner{
        width: 76.5%;
    }
}
@media screen and (max-width: 1200px) {
    .header-content__collections{
        display: none;
    }
    .header-content__banner{
        width: 100%;
        padding: 1rem 0 0 0;
        height: 44rem;
    }
    .all-collections__popup-list{
        position: absolute;
        right: 0;left: 0;top: 6.5rem;
        margin: auto;
    }
    .all-collections__popup-list{
        display: block;
    }
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 992px) {
    .search-bar{
        width: 35rem;
    }
    .nav-bar__all-collections span{
        display: none;
    }
    .nav-bar__all-collections{
        width: auto;
        height: auto;
        background-color: transparent;
    }
    .all-collections__icon{
        width: auto;
    }
    .all-collections__icon .line,
    .all-collections__icon .line::after,
    .all-collections__icon .line::before{
        background-color: var(--first-color);
        width: 4rem;
        height: .35rem;
    }
    .all-collections__icon .line::after{
        transform: translateY(1.2rem);
    }
    .all-collections__icon .line::before{
        transform: translateY(-1.2rem);
    }
    .all-collections__popup-list{
        display: none;
    }
    .mobile-menu,
    .cover{
        display: block;
    }
    .header-content__banner{
        height: auto;
    }
    .banner__wrapper{
        padding: 2rem 2rem;
    }
    .banner__contents{
        padding: 4rem 0 0 0;
    }
    .banner__wrapper{
        flex-wrap: wrap;
    }
    .banner__image img{
        width: 34rem;
    }
    .banner__suggestions{
        padding: 0;
        margin-top: 2rem;
        flex-direction: row;
        height: auto;
        width: 100%;
        justify-content: space-between;
    }
    .banner__suggestions-product{
        width: 17rem;
        height: 17rem;
    }
    .suggestions-product__image{
        height: 7rem;
    }
    .suggestions-product__price{
        font-size: 1.6rem;
    }
    .suggestions-product__name{
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 768px) {
    .search-bar{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: 2rem;
        border: none;
    }
    .search-bar__input,
    .search-bar__categories,
    .nav-bar,
    .banner__image{
        display: none;
    }
    .header-top{
        /* margin-bottom: 0; */
    }
    .search-bar__btn{
        height: 4rem;
        width: 4rem;
    }
    .header-content__banner{
        padding: 0;
    }
    .banner__contents{
        padding: 2rem 0 3rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .top-bar__line,
    .top-bar__login{
        display: none;
    }
    .banner__top-text{
        font-size: 1.8rem;
    }
    .banner__title{
        font-size: 3.3rem;
    }
    .banner__caption{
        font-size: 2rem;
    }
    .banner__suggestions-product{
        width: 14.5rem;
        height: 14.5rem;
    }
    .banner__suggestions{
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .feature__icon{
        width: 4.3rem;
    }
    .feature__title{
        font-size: 1.5rem;
    }
    .feature__caption{
        font-size: 1rem;
    }
}
@media screen and (max-width: 470px) {
    .header__logo-text{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .top-bar__wrapper{
        justify-content: center;
        height: 4rem;
    }
    .top-bar__title{
        display: none;
    }
    .banner__suggestions-product{
        width: 100%;
        height: 16rem;
    }
    .features-sec{
        margin-top: 5rem;
    }
    .features-sec .row > div{
        width: 100%;
    }
    .feature__icon{
        width: 5.5rem;
    }
    .feature__title{
        font-size: 1.8rem;
    }
    .feature__caption{
        font-size: 1.3rem;
    }
}

