@media screen and (max-width: 1400px) {
  .nav-bar__wrapper {
    justify-content: space-between;
  }
  .nav-bar__all-collections {
    position: relative;
  }
  .header-content__collections {
    display: none;
  }
  .all-collections__popup-list {
    position: absolute;
    right: 0;
    left: 0;
    top: 6.5rem;
    margin: auto;
  }
  .all-collections__popup-list {
    display: block;
    z-index: 2;
  }
  .header-content__banner {
    width: 100%;
  }
  .banner__image-wrapper {
    padding: 1rem 0 0 0;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 2rem !important;
  }
  .offer-sec {
    height: 50rem;
  }
}
@media screen and (max-width: 1200px) {
  .header-content {
    height: 39rem;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 1rem !important;
  }
  .offer-sec {
    height: 43rem;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    filter: brightness(1.02);
    background-position: right bottom;
  }
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 992px) {
  .search-bar {
    width: 35rem;
  }
  .nav-bar__all-collections span {
    display: none;
  }
  .nav-bar__all-collections {
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .all-collections__icon {
    width: auto;
  }
  .all-collections__icon .line,
  .all-collections__icon .line::after,
  .all-collections__icon .line::before {
    background-color: var(--first-color);
    width: 4rem;
    height: 0.35rem;
  }
  .all-collections__icon .line::after {
    transform: translateY(1.2rem);
  }
  .all-collections__icon .line::before {
    transform: translateY(-1.2rem);
  }
  .all-collections__popup-list {
    display: none;
  }
  .mobile-menu,
  .cover {
    display: block;
  }
  .header-content {
    height: 29rem;
  }
  .offer-sec {
    height: auto;
    justify-content: center;
    flex-direction: column;
  }
  .offer {
    height: 25rem;
  }
  .offer__back-image {
    width: 100% !important;
    right: 0 !important;
    bottom: -2rem !important;
  }
  .trending-sec__image-container {
    height: 23rem;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    filter: brightness(1.01);
    background-position: right bottom;
  }
}
@media screen and (max-width: 768px) {
  .search-bar {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 2rem;
    border: none;
  }
  .search-bar__input,
  .search-bar__categories,
  .nav-bar {
    display: none;
  }
  .header-top {
    /* margin-bottom: 0; */
  }
  .search-bar__btn {
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
  }
  .header-content {
    height: 22rem;
  }
  .features-sec {
    margin: 4rem 0 1rem 0;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 0.5rem !important;
  }
  .banner__image-wrapper {
    padding: 0;
  }
  .offer {
    height: 20rem;
  }
  .trending-sec__image-container {
    height: 25rem;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    filter: brightness(1.03);
    background-position: right bottom;
  }
}
@media screen and (max-width: 576px) {
  .section-titles {
    font-size: 3rem;
  }
  .top-bar__line,
  .top-bar__login {
    display: none;
  }
  .header-content {
    height: auto;
  }
  .popup-search-bar .row > div {
    margin-bottom: 1.5rem;
  }
  .offer {
    padding: 2rem 1rem;
    height: 35vw;
    filter: brightness(1.1);
  }
  .trending-sec__menu {
    font-size: 2rem;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  .feature__icon {
    width: 4.3rem;
  }
  .feature__title {
    font-size: 1.5rem;
  }
  .feature__caption {
    font-size: 1rem;
  }
  .header-content__banner .swiper-pagination {
    padding-bottom: 0 !important;
  }
  .offer__back-image {
    top: 0 !important;
    bottom: 0 !important;
  }
  .offer__title {
    font-size: 1.9rem;
  }
  .offer__price {
    font-size: 1.7rem;
  }
  .offer__link {
    font-size: 1.4rem;
  }
  .trending-sec__image-container {
    height: 20rem;
  }
  .special-offer__offer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 46rem;
    text-align: center;
  }
  .special-offer .col-lg-6:last-child .special-offer__offer,
  .special-offer .col-lg-6:first-child .special-offer__offer {
    background-position: top;
    background-size: 25rem;
  }
  .special-offer .col-lg-6:first-child .special-offer__offer {
    background-image: url(../images/special-offer-small-1.jpg);
  }
  .special-offer .col-lg-6:last-child .special-offer__offer {
    background-image: url(../images/special-offer-small-2.jpg);
    background-position-y: 3rem;
  }
}
@media screen and (max-width: 470px) {
  .header__logo-text {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .trending-sec__image-container {
    height: 33rem;
  }
}
@media screen and (max-width: 400px) {
  .top-bar__wrapper {
    justify-content: center;
    height: 4rem;
  }
  .top-bar__title {
    display: none;
  }
  .features-sec {
    display: none;
  }
  .offer-sec {
    margin-top: 2rem;
  }
  .main {
    padding-bottom: 20rem;
  }
  .offer {
    padding: 1rem 0.5rem;
  }
  .offer__title {
    font-size: 1.7rem;
  }
  .offer__price {
    font-size: 1.4rem;
  }
  .offer__link {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .trending-sec__image-container {
    height: 27rem;
  }
  .special-offer__offer-name {
    font-size: 2rem;
  }
}
