@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .big-image {
    height: 40rem;
  }
  .product__content {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .big-image {
    height: 55rem;
  }
  .image__container {
    height: 14rem;
  }
}
@media screen and (max-width: 768px) {
  .big-image {
    height: 50rem;
  }
  .image__container {
    height: 10rem;
  }
  .product__btns-container {
    top: 10rem;
  }
  .product__btn {
    width: 6rem;
    height: 6rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .product__name {
    font-size: 3rem;
  }
  .product__info-title,
  .product__color-title {
    font-size: 2rem;
  }
  .product__info-item {
    font-size: 1.6rem;
  }
  .product__color-item {
    width: 3rem;
    height: 3rem;
  }
  .product__color-item--select::before {
    border: 0.3rem solid var(--first-color);
    top: -0.38rem;
    bottom: -0.38rem;
    left: -0.38rem;
    right: -0.38rem;
    border-radius: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .big-image {
    height: 40rem;
  }
}
@media screen and (max-width: 470px) {
}
@media screen and (max-width: 450px) {
  .big-image {
    height: 35rem;
  }
  .image__container {
    height: 8rem;
  }
  .product__buy {
    font-size: 2.2rem;
  }
  .product__buys-btn {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  .big-image {
    height: 30rem;
  }
  .image__container {
    height: 7rem;
  }
}
@media screen and (max-width: 350px) {
}
